Makefile
Makefile.in
.deps
*.o
*.a
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in*
config.log
config.status
configure
gftp.spec
m4/*.m4
po/*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/gftp
src/gtk/gftp-gtk
src/text/gftp-text
stamp-h1
ar-lib
compile
config.guess
config.rpath
config.sub
depcomp
install-sh
ltmain.sh
missing
libtool
po/stamp-it
docs/gftp-faq
docs/gftp-faq.junk
docs/gftp-faq.pdf
.DS_Store
build-aux
autoconf
autoconf-m4
