Source: gftp
Section: net
Priority: optional
Maintainer: Aurélien GÉRÔME <ag@roxor.cx> 
Build-Depends: debhelper (>> 4.0.0), autotools-dev, libreadline5-dev | libreadline-dev, libgtk2.0-dev (>= 2.0.9), libglib2.0-dev (>= 2.2.0), imagemagick
Standards-Version: 3.7.3
Homepage: http://www.gftp.org/
Vcs-Git: git://git.roxor.cx/git/gftp/
Vcs-Browser: http://git.roxor.cx/?p=gftp
XS-DM-Upload-Allowed: yes

Package: gftp
Architecture: all
Depends: gftp-gtk (>= ${source:Version}), gftp-text (>= ${source:Version})
Description: X/GTK+ FTP client
 gFTP is a multithreaded FTP client, available in two versions:
  * version for X, written using GLib and GTK+
  * version for the console, using only GLib
 .
 This is an upgrade convenience package, it's only useful for depending on.

Package: gftp-gtk
Architecture: any
Depends: ${shlibs:Depends}, gftp-common (= ${binary:Version})
Conflicts: gftp-common (<< 2.0.14-1)
Description: X/GTK+ FTP client
 gFTP is a multithreaded FTP client. This version of it runs under X
 and was written using GLib/GTK+.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * support for SSH and SSH2 file transfers,
   * support FXP transfers,
   * stop button, and many more features.
 .   
  Author:   Brian Masney <masneyb@gftp.org>

Package: gftp-text
Architecture: any
Depends: ${shlibs:Depends}, gftp-common (= ${binary:Version})
Description: colored FTP client using GLib
 gFTP is a multithreaded FTP client. This version of it runs under console
 and was written using GLib.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * support for SSH and SSH2 file transfers,
   * support FXP transferts,
   * stop button, and many more features.
 .   
  Author:   Brian Masney <masneyb@gftp.org>

Package: gftp-common
Architecture: any
Description: shared files for other gFTP packages
 gFTP is a multithreaded FTP client. This package contains the locale data
 used by both gftp-gtk and gftp-text, along with a common manual page.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * support for SSH and SSH2 file transfers,
   * support FXP transferts,
   * stop button, and many more features.
 .   
  Author:   Brian Masney <masneyb@gftp.org>
