Source: gftp
Section: net
Priority: optional
Maintainer: Josip Rodin <jrodin@jagor.srce.hr>
Build-Depends: debhelper (>= 2), libglib1.2-dev, libgtk1.2-dev
Standards-Version: 3.5.2

Package: gftp
Architecture: any
Depends: gftp-gtk, gftp-text, gftp-common
Description: X/GTK+ FTP client
 gFTP is a multithreaded FTP client, available in two versions:
  * version for X, written using GLib and GTK+
  * version for the console, using only GLib
 .
 This is an upgrade convenience package, it's only useful for depending on 

Package: gftp-gtk
Architecture: any
Depends: ${shlibs:Depends}, gftp-common (>= 2.0.8-2)
Replaces: gftp (<< 2.0.8)
Description: X/GTK+ FTP client
 gFTP is a multithreaded FTP client. This version of it runs under X
 and was written using GLib/GTK+.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * stop button, and many more features.

Package: gftp-text
Architecture: any
Depends: ${shlibs:Depends}, gftp-common (>= 2.0.8-2)
Description: a colored FTP client using GLib
 gFTP is a multithreaded FTP client. This version of it runs under console
 and was written using GLib.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * stop button, and many more features.

Package: gftp-common
Architecture: any
Depends: gftp-gtk | gftp-text
Replaces: gftp (<< 2.0.8)
Conflicts: gftp-gtk (<< 2.0.8-2), gftp-text (<< 2.0.8-2)
Description: shared files for other gFTP packages
 gFTP is a multithreaded FTP client. This package contains the locale data
 used by both gftp-gtk and gftp-text, along with a common manual page.
 .
 gFTP features:
   * simultaneous downloads,
   * resuming of interrupted file transfers,
   * file transfer queues,
   * downloading of entire directories,
   * FTP and HTTP proxy support,
   * remote directory caching,
   * passive and non-passive file transfers,
   * drag-n-drop support,
   * bookmarks menu,
   * stop button, and many more features.
