[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gFTP
GenericName=gFTP
Comment=Download and upload files using multiple file transfer protocols
Exec=gftp %u
TryExec=gftp
Icon=gftp.png
Terminal=0
Type=Application
Categories=Application;GTK;GNOME;Network;FileTransfer;
