[Desktop Entry]
Name=gFTP Client
Comment=Download and upload files using multiple file transfer protocols
Exec=gftp
Icon=gftp.png
Terminal=0
Type=Application
Encoding=UTF-8
